<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #ffffff 30.62%, #9e9e9e 85.61%);
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5%;
}
.menu-logotipo{
    height: 10%;
}

.menu-tudo{
    display: flex;
    gap: 10%;
}

.menu-pagina{
    font-family: 'Sarala', sans-serif;
    color: #212121;
    font-weight: 400;
    font-size: 95%;
}

.conteudo{
    margin-bottom: 5%;
    border-top: 1px solid #000000;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-size: 170%;
    color: #000000;
}

.conteudo-principal-escrito-texto{
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-size: 100%;
    color: #000000;
}

.conteudo-principal-escrito-orcamento{
    display: table-cell;
    float: left;
    width: 160px;
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-size: 100%;
    color: #000000;
}

.conteudo-principal-escrito-botao{
    background-color: #979797;
    width: 25%;
    height: 30px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-size: 114%;
    color: #2F2325;
}

.rodape{
    padding: 1%;
    border-top: 1px solid #000000;
}

.rodape-parcerias{

}

.rodape-apoio-Cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Serif';
    font-weight: 100;
    font-size: 90%;
    color: #000000;
}
    